/app/components
/node_modules
/client-prod
/target
/lib
/classes
/checkouts

pom.xml
*.sublime-project
*.sublime-workspace
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
*.css


/.idea

.elasticbeanstalk/
