body{overflow:hidden;font-family:'Anonymous Pro',sans-serif;}
.hud{position:absolute;}
#content{position:absolute;}
#version{position:absolute;right:0px;}
canvas{background:#ccc;display:block;z-index:-1;}
